h1 Asset Management System

br

a(href='/employees')
    button Employees

br
br

a(href='/assets')
    button Assets

br
br

a(href='/issue-asset')
    button Issue Asset

br
br

a(href='/return-asset')
    button Return Asset

br
br

a(href='/scrap-asset')
    button Scrap Asset

br
br

a(href='/stock')
    button Stock Report

br
br

a(href='/asset-history')
    button Asset History