html
  head
    title Add Category
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Add Category

    form(action="/add-category" method="POST")
      label Category Name:
      input(type="text" name="category_name")
      br
      br
      button(type="submit") Save
      br

      a(href='/')
       button Back to Dashboard